<div class="gallery-image-wrap-outer {{if hover 'gallery-image-wrap-outer-hover' ''}}"
    onmouseover={{action 'mouseIn'}}
    onmouseout={{action 'mouseOut'}}
>

  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <img
      id={{imgId}}
      {{action 'imageClick'}}
      src={{item.msrc}}
      alt={{item.title}}
      class='gallery-image-wrap-img'
      onload='if(this.height>320)this.height=320'
    />
  {{/if}}

    <div {{action 'detailClick'}} class='gallery-image-wrap-detail-outer
      {{if (and (not hover) hide) 'gallery-image-wrap-detail-outer-hidden' ''}}
      gallery-image-wrap-detail-outer-{{if (is-equal item.info.type 'photo') 'photo' 'album'}}' >

      <div class='gallery-image-wrap-detail-inner'>

        {{buttonLabel}}
      </div>
    </div> 
</div>

