<div id="image-info-popup" class="mfp-hide gallery-image-info-popup">

{{yield this}}

{{#with popupItem.item.info as |raw|}}

{{!-- check if photo should place on top of popup panel --}}
{{#with (g-determine-image-popup-top-left 'image-info-popup'
  raw.additional.thumb_size.small.resolutionx
  raw.additional.thumb_size.small.resolutiony) as |pos|}}

  <div class="gallery-image-info-popup-img-wrap-{{if pos.placeTop 'top' 'left'}}">
    <img src={{popupItem.item.msrc}} class='gallery-image-info-popup-img'/>
  </div>
  {{#if pos.placeTop}}
    <div class='gallery-clear' ></div>
  {{/if}}

  <div class='gallery-image-info-popup-info'>
    <h2 class='gallery-image-info-popup-info'>{{raw.info.title}}
                      <span class="gallery-image-info-popup-info-heart-{{if (gte raw.info.rating 1) 'red' 'gray'}}"
      >&hearts;</span><span class="gallery-image-info-popup-info-heart-{{if (gte raw.info.rating 2) 'red' 'gray'}}"
      >&hearts;</span><span class="gallery-image-info-popup-info-heart-{{if (gte raw.info.rating 3) 'red' 'gray'}}"
      >&hearts;</span><span class="gallery-image-info-popup-info-heart-{{if (gte raw.info.rating 4) 'red' 'gray'}}"
      >&hearts;</span><span class="gallery-image-info-popup-info-heart-{{if (gte raw.info.rating 5) 'red' 'gray'}}"
      >&hearts;</span>
    </h2>
    {{#with (await popupItem.detail.tag) as |tag|}}
      {{#if (or tag.people.length tag.geo.length tag.desc.length)}}
        <div class='gallery-image-info-popup-taglist'>
          {{#each tag.people as |p|}}<span class='gallery-image-info-popup-tag'>{{p.name}}</span>{{/each}}
          {{#each tag.geo as |p|}}<span class='gallery-image-info-popup-tag'>{{p.name}}</span>{{/each}}
          {{#each tag.desc as |p|}}<span class='gallery-image-info-popup-tag'>{{p.name}}</span>{{/each}}
        </div>
      {{/if}}
    {{/with}}
    <div>{{raw.info.description}}</div>
  </div>

  <div class='gallery-image-info-popup-comment'>
    <h2 class='gallery-image-info-popup-comment'>Comments
      <a href='#'>new</a>
    </h2>
    {{#with (await popupItem.detail.comments) as |comments|}}
      <ul class='gallery-image-info-popup-comment-item'>
      {{#each comments as |cm|}}
        <li class='gallery-image-info-popup-comment-item'>
          <a href='#' title="{{cm.email}} at {{cm.date}}">{{cm.name}}</a>: {{cm.comment}}
        </li>
      {{/each}}
      </ul>
    {{/with}}
  </div>

  {{#with (await popupItem.detail.exif) as |exif|}}
    <div class='gallery-image-info-popup-exif'>
      <h3 class='gallery-image-info-popup-exif'>EXIF
        <span class='gallery-image-info-popup-filename'>
          ({{if raw.additional.file_location raw.additional.file_location raw.info.name}},
            {{raw.info.resolutionx}}x{{raw.info.resolutiony}},
            {{raw.info.size}} bytes)
        </span>
      </h3>
      <ul class='gallery-image-info-popup-exif'>
      {{#if exif.default.model}}<li>Model: {{exif.default.model}}</li>{{/if}}
      {{#if exif.default.time}}<li>Time: {{exif.default.time}}</li>{{/if}}
      {{#if exif.default.exposure}}<li>Exposure: {{exif.default.exposure}}</li>{{/if}}
      {{#if exif.default.aperture}}<li>Aperture: {{exif.default.aperture}}</li>{{/if}}
      {{#if exif.default.focal}}<li>Focal: {{exif.default.focal}}</li>{{/if}}
      {{#if exif.default.iso}}<li>ISO: {{exif.default.iso}}</li>{{/if}}
      {{#if exif.default.flash}}<li>Flash: {{exif.default.flash}}</li>{{/if}}
      {{#if exif.default.gps}}<li>GPS: {{exif.default.gps}}</li>{{/if}}
      </ul>
      {{#if showMoreEXIFs}}
        <div class='gallery-clear' ></div>
        <h4><a href='#' {{action 'toggleShowMoreEXIFs'}} title='click to close'>▼ less EXIFs</a></h4>
        <ul class='gallery-image-info-popup-exif'>
          {{#each exif.all as |e|}}
            <li>{{e.label}}: {{e.value}}</li>
          {{/each}}
        </ul>
      {{else}}
        <a href='#' {{action 'toggleShowMoreEXIFs'}} title='click to open exif'>► more EXIFs</a>
      {{/if}}
    </div>
  {{/with}}

  <div class='gallery-clear' ></div>
  {{#if (or pos.placeTop showMoreEXIFs)}}
    <p>.</p>
  {{/if}}
{{/with}}
{{/with}}

</div>
