
{{yield this}}

<div id={{viewportId}} class='gallery-image-info-img-viewport'>
  <div class="gallery-image-info-img-outer {{if (not show) 'gallery-hide'}}" >

      {{#link-to show.route (query-params show=show.pre)}}
        <div class='gallery-image-info-btn gallery-image-info-btn-pre'></div>
      {{/link-to}}
    
      <div class='gallery-image-info-img-wrap' lineheight={{imageHeight}}>
        <img id={{imgId}} src={{show.item.src}} class='gallery-image-info-img'
          lineheight={{imageHeight}}
          height={{imageHeight}}
        />

        {{!-- to display people rectangle --}}
        {{#with (await _tags) as |tag|}}
          {{#if tag.people}}
            <a href='javascript:void;' title="{{if toggleTagRect 'hide' 'show'}} people rectangle"
              class='gallery-image-info-tag-rectangle-btn no-underline' {{action 'toggleTagRect'}}>{{if showTagRect 'hide' 'show'}}</a>
          {{/if}}
          {{#each tag.people as |p|}}
            <div class="gallery-image-info-tag-rectangle {{if showTagRect '' 'gallery-image-info-tag-rectangle-hide'}}" style="
              left:{{p.additional.info.x}}%;
              top:{{p.additional.info.y}}%;
              width:{{p.additional.info.width}}%;
              height:{{p.additional.info.height}}%;
            " data-name={{p.name}}></div>
          {{/each}}
        {{/with}}
        <div class='gallery-clear'/>
      </div>
    
      {{#link-to show.route (query-params show=show.nxt)}}
        <div class="gallery-image-info-btn gallery-image-info-btn-nxt"></div>
      {{/link-to}}

  </div>
</div>

{{#with show.item.info as |raw|}}

  <div class='gallery-image-info-desc'>
    <div class='gallery-image-info-desc-h2'>{{if raw.info.title raw.info.title raw.name}}
                      <span class="gallery-image-rating-heart-{{if (gte raw.info.rating 1) 'red' 'gray'}}"
      >&hearts;</span><span class="gallery-image-rating-heart-{{if (gte raw.info.rating 2) 'red' 'gray'}}"
      >&hearts;</span><span class="gallery-image-rating-heart-{{if (gte raw.info.rating 3) 'red' 'gray'}}"
      >&hearts;</span><span class="gallery-image-rating-heart-{{if (gte raw.info.rating 4) 'red' 'gray'}}"
      >&hearts;</span><span class="gallery-image-rating-heart-{{if (gte raw.info.rating 5) 'red' 'gray'}}"
      >&hearts;</span>
    </div>
    {{#with (await _tags) as |tag|}}
      {{#if (or tag.people.length tag.geo.length tag.desc.length)}}
        <div class='gallery-image-info-taglist'>
          {{#each tag.people as |p|}}<span class='gallery-image-info-tag'>{{p.name}}</span>{{/each}}
          {{#each tag.geo as |p|}}<span class='gallery-image-info-tag'>{{p.name}}</span>{{/each}}
          {{#each tag.desc as |p|}}<span class='gallery-image-info-tag'>{{p.name}}</span>{{/each}}
        </div>
      {{/if}}
    {{/with}}
    <div class='gallery-image-info-desc-content'>{{raw.info.description}}</div>
  </div>

  {{#if _comments}}
  <div class='gallery-image-info-comment'>
    <div class='gallery-image-info-comment-h2'>Comments
      <a href='javascript:;'>new</a>
    </div>
    {{#with (await _comments) as |comments|}}
      <div class='gallery-image-info-comment-list'>
      {{#each comments as |cm|}}
        <div class='gallery-image-info-comment-item'>
          <a href='javascript:;' title="{{cm.email}} at {{cm.date}}">{{cm.name}}</a>: {{cm.comment}}
        </div>
      {{/each}}
      </div>
    {{/with}}
  </div>
  {{/if}}

  {{#with (await _exifs) as |exifs|}}
    <div class='gallery-image-info-exif'>
      <div class='gallery-image-info-exif-h2'>EXIF
        <span class='gallery-image-info-exif-filename'>
          ({{if raw.additional.file_location raw.additional.file_location raw.info.name}},
            {{raw.info.resolutionx}}x{{raw.info.resolutiony}},
            {{raw.info.size}} bytes)
        </span>
      </div>
      <div class='gallery-image-info-exif-list'>
      {{#if exifs.default.model}}<div>Model: {{exifs.default.model}}</div>{{/if}}
      {{#if exifs.default.time}}<div>Time: {{exifs.default.time}}</div>{{/if}}
      {{#if exifs.default.exposure}}<div>Exposure: {{exifs.default.exposure}}</div>{{/if}}
      {{#if exifs.default.aperture}}<div>Aperture: {{exifs.default.aperture}}</div>{{/if}}
      {{#if exifs.default.focal}}<div>Focal: {{exifs.default.focal}}</div>{{/if}}
      {{#if exifs.default.iso}}<div>ISO: {{exifs.default.iso}}</div>{{/if}}
      {{#if exifs.default.flash}}<div>Flash: {{exifs.default.flash}}</div>{{/if}}
      {{#if exifs.default.gps}}<div>GPS: {{exifs.default.gps}}</div>{{/if}}
      </div>
      {{#if showMoreEXIFs}}
        <div class='a-gallery-clear' ></div>
        <h4><a href='javascript:;' {{action 'toggleShowMoreEXIFs'}} title='click to close'>&#9660; less EXIFs</a></h4>
        <ul class='a-gallery-image-info-popup-exif'>
          {{#each exifs.all as |e|}}
            <li>{{e.label}}: {{e.value}}</li>
          {{/each}}
        </ul>
      {{else}}
        <a href='javascript:;' {{action 'toggleShowMoreEXIFs'}} title='click to open exif'>&#9658; more EXIFs</a>
      {{/if}}
    </div>
  {{/with}}

{{/with}}
