<div id={{resize-sensor-element-id}} class="gallery-photoswipe-main-wrap">
<div class="{{if hidden 'gallery-hide' ''}}">

{{#unless hasBlock}}

  {{#each computedAlbumInfo.items as |item index|}}

    {{#if (is-equal item.info.type 'album')}}

      {{#gallery-image-wrap item=item buttonLabel=item.info.info.title detailClick=(action 'detail')}}
        {{#link-to 'album/browse' computedAlbumInfo.site (g-short-album-id item.info.id true)}}
          <img
            id={{item.info.id}}
            src={{item.msrc}}
            alt={{item.title}}
            height={{item.fitsize.fitH}} width={{item.fitsize.fitW}} lineheight={{item.fitsize.fitL}}
            class='gallery-image-wrap-img'
          />
        {{/link-to}}
      {{/gallery-image-wrap}}

    {{else if (is-equal item.info.type 'sharedalbum')}}

      {{#gallery-image-wrap item=item buttonLabel=item.info.name detailClick=(action 'detail')}}
        {{#link-to 'share/browse' computedAlbumInfo.site item.info.additional.public_share.shareid}}
          <img
            id={{item.info.id}}
            src={{item.msrc}}
            alt={{item.title}}
            height={{item.fitsize.fitH}} width={{item.fitsize.fitW}} lineheight={{item.fitsize.fitL}}
            class='gallery-image-wrap-img'
          />
        {{/link-to}}
      {{/gallery-image-wrap}}

    {{else}}

      {{#gallery-image-wrap imgId=item.info.id item=item imageClick=(action 'lightbox' item) detailClick=(action 'detail' item)}}
        <img
          id={{item.info.id}}
          src={{item.msrc}}
          alt={{item.title}}
          height={{item.fitsize.fitH}} width={{item.fitsize.fitW}} lineheight={{item.fitsize.fitL}}
          {{action 'lightbox' item}}
          class='gallery-image-wrap-img'
        />
      {{/gallery-image-wrap}}

    {{/if}}

  {{/each}}

{{/unless}}

{{yield (action 'lightbox') photoswipe popup}}

{{#photo-swipe
  items=computedAlbumInfo.items
  history=false
  showHideOpacity=showHideOpacity
  bgOpacity=bgOpacity
  itemProperties=itemProperties
  barsSize=barsSize
  timeToIdle=timeToIdle
  additionalButtons=additionalButtons
  getThumbBoundsFn=(action 'getThumbBoundsFn')
  onInitialZoomIn=(action 'onPhotoSwipeOpen')
  onInitialZoomOut=(action 'onPhotoSwipeClose')
  onAfterChange=(action 'onPhotoSwipeChange')
  as |photoswipe|}}

  {{g-call-action (action 'initPototSwipe' photoswipe)}}

{{/photo-swipe}}

{{#gallery-image-info-popup popupId=(g-random-string) albumInfo=computedAlbumInfo as |popup|}}
  {{g-call-action (action 'initPopup' popup)}}
{{/gallery-image-info-popup}}

<div class='gallery-clear' />

</div>
</div>
