{{gallery-album-path}}
{{#if model}}
  {{#each model as |site|}}

    {{#if (is-equal site.total 0)}}
    {{else}}
      <h4>
      {{#link-to 'album/site' site.site}}
        {{site.site}} ({{site.total}})
      {{/link-to}}
      </h4>
      {{#gallery-photoswipe items=site.items history=false as |open photoswipe|}}
        {{#each site.items as |item index|}}
          {{#if (is-equal item.info.type 'album')}}
            {{#link-to 'album/detail' site.site (g-short-album-id item.info.id true)}}
              <img id={{item.info.id}} src={{item.small}} alt={{item.title}} onload='if(this.height>320)this.height=320' />
            {{/link-to}}
          {{else}}
            <img id={{item.info.id}} src={{item.small}} alt={{item.title}} onload='if(this.height>320)this.height=320'
              {{action open photoswipe index}} />
          {{/if}}
        {{/each}}
      {{/gallery-photoswipe}}
    {{/if}}

  {{/each}}
{{/if}}
{{outlet}}
