{{gallery-album-path}}
{{#if model}}
  {{#each model as |site|}}

    {{#unless (is-equal site.total 0)}}
      <div class='ember-view'>
        <h4>
          {{#link-to 'album/site' site.site}}
            {{site.site}} ({{site.total}})
          {{/link-to}}
        </h4>
        {{gallery-photoswipe albumInfo=site}}
      </div>

      {{!-- the 'gallery-clear' is nessesary here to clear 'float:left' effect, to make each site images apart --}}
      <div class='gallery-clear'/>

    {{/unless}}

  {{/each}}
{{/if}}
{{outlet}}
