{{gallery-album-path}}
{{#if model}}
  {{#each model as |site|}}

    {{#if (is-equal site.total 0)}}
    {{else}}
      <h4>
      {{#link-to 'album/site' site.site}}
        {{site.site}} ({{site.total}})
      {{/link-to}}
      </h4>
      {{#photo-swipe items=site.items as |img|}}
        {{#if (is-equal img.info.type 'album')}}
          {{#link-to 'album/detail' site.site (g-short-album-id img.info.id true)}}
            <img src={{img.small}} alt={{img.title}} />
          {{/link-to}}
        {{else}}
          <img src={{img.small}} alt={{img.title}} />
        {{/if}}
      {{/photo-swipe}}
    {{/if}}

  {{/each}}
{{/if}}
{{outlet}}
