{{#if model}}
  {{#each model as |site|}}
    {{#unless (is-equal site.total 0)}}

        <div class="{{if hidePhotoSwipe 'gallery-hide' ''}}">
          {{#link-to 'album/site' site.site}}
            {{site.site}} ({{site.total}})
          {{/link-to}}
        </div>
        {{gallery-photoswipe albumInfo=site
          hidden=hidePhotoSwipe
          previewHeight = ui.previewHeight
          initWithLightboxOpen=lightbox
          initWithDetailOpen=popup
          showDetail=(action 'showDetail' site.site)
          onDetailOpen=(action 'onDetailOpen')
          onDetailClose=(action 'onDetailClose')
          onDetailChange=(action 'onDetailChange')
          onLightboxOpen=(action 'onLightboxOpen')
          onLightboxClose=(action 'onLightboxClose')
          onLightboxChange=(action 'onLightboxChange')
        }}

      {{!-- the 'gallery-clear' is nessesary here to clear 'float:left' effect, to make each site images apart --}}
      <div class='gallery-clear'/>

    {{/unless}}
  {{/each}}

  {{gallery-image-info show=show}}
{{/if}}
{{outlet}}
