{{#if model}}
  {{#each model as |site|}}
    {{#unless (is-equal site.total 0)}}

      <div class='gallery-site-list'>
        <div class="{{if hidePhotoSwipe 'gallery-hide' ''}}">
          <div class='gallery-site-title'>
            <span class='gallery-site-title-txt'>
              {{#link-to 'album/site' site.site class='gallery-site-title-a'}}
                {{site.site}} ({{site.total}})
              {{/link-to}}
            </span>
          </div>
        </div>
        {{gallery-photoswipe albumInfo=site
          hidden=hidePhotoSwipe
          previewHeight = ui.previewHeight
          index=(get photoswipeIndex site.site)
          initWithDetailOpen=popup
          showDetail=(action 'showDetail' site.site)
          onDetailOpen=(action 'onDetailOpen')
          onDetailClose=(action 'onDetailClose')
          onDetailChange=(action 'onDetailChange')
          onOpen=(action 'onLightboxOpen')
          onClose=(action 'onLightboxClose')
          onChange=(action 'onLightboxChange')
        }}
      </div>

      {{!-- the 'gallery-clear' is nessesary here to clear 'float:left' effect, to make each site images apart --}}
      <div class='gallery-clear'/>

    {{/unless}}
  {{/each}}

  {{gallery-image-info show=show change=(action 'onShowChange')}}
{{/if}}
{{outlet}}
