{{gallery-share-path}}
{{#if model}}
  {{#each model as |site|}}

    {{#if (is-equal site.total 0)}}
    {{else}}
      <h4>
      {{#link-to 'share/site' site.site}}
        {{site.site}} ({{site.total}})
      {{/link-to}}
      </h4>
      {{#photo-swipe items=site.items as |img|}}
        {{#link-to 'share/detail' site.site img.info.additional.public_share.shareid}}
          <img src={{img.small}} alt={{img.title}} />
        {{/link-to}}
      {{/photo-swipe}}
    {{/if}}

  {{/each}}
{{/if}}
{{outlet}}
