{{gallery-share-path}}
{{#if model}}
  {{#each model as |site|}}

    {{#if (is-equal site.total 0)}}
    {{else}}
      <h4>
      {{#link-to 'share/site' site.site}}
        {{site.site}} ({{site.total}})
      {{/link-to}}
      </h4>
      {{#photo-swipe items=site.items history=false as |photoswipe|}}
        {{#each site.items as |item index|}}
          {{#link-to 'share/detail' site.site item.info.additional.public_share.shareid}}
            <img src={{item.small}} alt={{item.title}} />
          {{/link-to}}
        {{/each}}
      {{/photo-swipe}}
    {{/if}}

  {{/each}}
{{/if}}
{{outlet}}
