<div> ================ test ============= </div>

{{#link-to 'test.photoswipe'}}Photoswipe{{/link-to}}
<span> | </span>
<span>{{#link-to 'test.api'}}API{{/link-to}}</span>

<ul>
<li>User:{{input value=apiSite}}</li>
<li><button {{action "doInfo"}}>info</button>{{infoResult}}</li>
<li><button {{action "doAuth"}}>checkauth</button><button {{action "doLogin"}}>login</button><button {{action "doLogout"}}>logout</button>
  {{input value=authUser}}|{{input value=authPass}}{{authResult}}</li>
<li><button {{action "doPath"}}>path</button>path:{{input value=pathQryParam}} - {{pathResult}}</li>
<li><button {{action "doAlbum"}}>album</button>album:{{input value=albumQryParam}} - {{albumResult}}</li>
<li><button {{action "doGet"}}>get</button>{{getResult}}</li>
<li><button {{action "doAccur"}}>accur</button>{{accurResult}}</li>
<li><button {{action "doSmart"}}>smart</button>{{smartResult}}</li>
<li><button {{action "doPhoto"}}>photo</button>{{input value=photoQryHash}}{{photoResult}}</li>
<li><button {{action "doSite"}}>site</button>{{siteResult}}</li>
<li><button {{action "doXhr"}}>test xhr</button>{{input value=xhrUrl}}{{xhrResult}}</li>
</ul>
